RewriteEngine On

# 允許處理器解釋 .php 文件 (確保這個設置已啟用)
AddType application/x-httpd-php .php

# 如果請求的文件或目錄不存在，重定向到 index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
